html,
body {
  height: 100%;
  margin: 0;
}

body {
  //background: linear-gradient(to bottom right, #444444, #009a5b);
  background: #000000;
  font-size: 1.5em;
}

main {
  color: #ffffff;
  font-family: sans-serif;
  text-align: center;
}

h1 + .subtitle {
  display: block;
  margin-top: -1em;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 10px;
  height: 1.5rem;
}

ul {
  align-content: center;
  text-align: center;
  list-style-type: none;
}
.navbar {
  ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0.3em;
    overflow: hidden;
    background-color: #000000;
  }

  .nav_item li {
    float: right;
  }

  .link li {
    float: left;
  }

  .link img {
    width: 2em;
    height: auto;
  }
  
  li a, code {
    display: block;
    color: #00FF41;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
  }

  code {
    font-size: 1.2em;
  }

  .num {
    color: #008f11;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
}